* {
    text-align: center;
}

.header {
    background: aquamarine;
    color: navy;
}

.main-content {
    background: greenyellow;
    color: blueviolet;
}

.footer {
    background: grey;
    color: wheat;
}